*{
    margin: 0;
    
}
body{
    background: white;
} 

 li,ul{
    list-style-type: none;
    padding: 0;
    text-decoration: none;

}

main{
    padding:140px 40px 40px;
    color: white;
    position: relative;
    margin-left: 90px;

}  

/* solution */


header{
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    box-sizing: border-box;
    color: #eee;
    height: 80px;

}

.burger{
    display: relative;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 1;

}
.burger span{
    display: block;
    width: 30px;
    height: 2px;
    background: #eee;
    margin-bottom: 5px;
    transition: all ease-in .3s;
    
}

nav{
    background: #222;
    position: absolute;
    
    padding: 20px;
    padding-top: 100px;
    height: 100%;
    box-sizing: border-box;
    width: 200px;
    top: 0px;
    z-index: 0;
    left: -200px;
    transition: left ease-in .3s;
    
}



nav a{
    color: #fff;
    display: block;
    margin-bottom: 6px;
    font-size: 1.2em;
    text-decoration: none;
    gap: 20px;
    
} 

/* open state */

 nav.open{
    left: 0;

}

.burger.open span:nth-child(1){
    transform: rotate(45deg)translateY(10px);
}
.burger.open span:nth-child(2){
    opacity: 0;
    width: 0;
} 

.burger.open span:nth-child(3){
    transform: rotate(-45deg)translateY(-10px);
}

.title{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    text-decoration: none;
    margin-left: 30px;
    /* left: 100px; */
    
 } 

 a{
    color: #eee;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: none;
} 

/* form{
    position: absolute;
    left: 30%;
    width: 450px;
    
} */